# URL del proyecto de Supabase (Settings -> API -> Project URL)
NEXT_PUBLIC_SUPABASE_URL=https://kklefrnpezibbstjncmd.supabase.co

# Clave pública anónima (Settings -> API -> Project API keys -> anon public)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbGVmcm5wZXppYmJzdGpuY21kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0MDQ2MjMsImV4cCI6MjEwNDk4MDYyM30.HWWi4R2yGpROOmd5WrVQjllzsmhx9-Z5gUIoytKKidQ
